/******************TAG SELECTORS******************/
body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: black;
  margin-top: 0px;
}

h3 {
  color: #5f5f5f;
}

img:hover {
  background-color: gold;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Style the content */
article {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  background-color: white;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #6c737e;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/******************CLASS SELECTORS******************/


.topnav a.active {
  background-color: #4CAF50;
  color: #ffffff;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
  background-color: #111;
  color: 333;
}

.link-inactive {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }


/******************ID SELECTORS******************/
